%centered {
	margin: auto;
}

%round-photo {
	border-radius: 50%;
}

%heading {
	margin: 0.5em auto 0.5em 0.5em;
	color: $gray;
	font-size: 0.5em;
}

%widget-spacing {
	padding: 1em;
}


%svg-container {
	height: 3em;
	width: 3em;
}


%social-icon {
	background-color: $primary-color;
	fill: white;
	border-radius: 50%;
}