$primary-color: #7379BD;
$secondary-color: #83C891;
$tertiary-color: #76B1BE;

$gray: #B2B2B2;
$alabaster: #FBFBFB;
$white: #FFFFFF;
$dark-purple: #4D4D71;
$lavender: #E2E3F5;

$primary-dark: $dark-purple;
$primary-light: $lavender;

$gray-light: $alabaster;
$gray-dark: darken($gray, 30%);

$text-color-default: $gray;
$text-color-light: $white;
$text-color-link: $primary-light;

$font-primary: 'Raleway';

$font-weight-normal: 400;
$font-weight-light: 100;

$icon-size: 1.5em;