$primary-color: #7379BD;
$secondary-color: #83C891;
$tertiary-color: #76B1BE;

$gray: #B2B2B2;
$white: #FFFFFF;
$dark-purple: #4D4D71;
$lavender: #E2E3F5;

$primary-dark: $dark-purple;
$primary-light: $lavender;

$gray-light: lighten($gray, 25%);

$text-color-default: $gray;
$text-color-light: $white;
$text-color-link: $primary-light;

$icon-size: 1.5em;