* {
	box-sizing: border-box;
	//border: 1px solid pink;
}

//contains all layout 

.outer-container {
	@include flexy(column);
	max-width: 1024px;
	margin: auto;
}

//contains nav and widgets but not header;
//allows horizontal nav bar on mobile, vertical at medium break and up

.inner-container {
	@include flexy(column);
	height: 100%;

	@include mq(medium) {
		flex-direction: row;
	}
}

//contains all widgets 

.widget-container {
	@include flexy(column);
	height: 100%;
	margin: 0;
	width: 100%;
}

