* {
	box-sizing: border-box;
}

//contains all layout 

.outer-container {
	@include flexy(column);
	max-width: 1024px;
	margin: auto;
	height: 100%;
	font-family: $font-primary, sans-serif;
	font-weight: $font-weight-normal;
}

//contains nav and widgets but not header;
//allows horizontal nav bar on mobile, vertical at medium break and up

.inner-container {
	@include flexy(column);
	height: 100%;

	@include mq(medium) {
		-webkit-flex-direction: row;
		flex-direction: row;
		height: 100%;
	}
}

//contains all widgets 
//shares .inner-container with #main-nav

.widget-container {
	@include flexy(column);
	height: 100%;
	margin: 0;
	width: 100%;

	@include mq(medium) {
		//accounts for the width of main-nav when vertical
		width: calc(100% - 4em);
	}
}

