#main-nav {
	@include flexy(row);
	height: 4em;
	//added for Safari
	min-height: 4em;
	width: 100%;
	background-color: $primary-dark;
	padding-top: 0.25em;

	@include mq(medium) {
		@include flexy(column);
		height: auto;
		//added for Safari
		min-height: 1850px;
		width: 4em;
	}

	.svg-container {
	@extend %svg-container;
	margin: auto;

		@include mq(medium) {
			margin: 0.25em auto; 
		}
	}	
}





