#main-nav {
	@include flexy(row);
	justify-content: flex-start;
	height: 4em;
	width: 100%;
	background-color: $primary-dark;
	padding-top: 0.25em;

	.svg-container {
	@extend %svg-container;
	margin: auto;

		@include mq(medium) {
			margin: 0.25em auto; 
		}
	}	

	@include mq(medium) {
		flex-direction: column;
		height: 100vh;
		width: 4em;
	}
}



