.icon {
	display: block;
	width: $icon-size;
	height: $icon-size;
	margin: 11px;
	
	.st0 {
		fill:#FFFFFF;
	}
}

#settings-icon {
	margin-right: auto;

	@include mq(medium) {
		margin-bottom: auto;
	}
}
