.nav-icon {
	display: block;
	width: $icon-size;
	height: $icon-size;
	margin: 11px;
	
	.st0 {
		fill: $gray;
	}
}

/*
#settings-icon-container {
	margin-right: auto;

	@include mq(medium) {
		margin-bottom: auto;
	}
}
*/


#bell-icon {
	width: 2 * $icon-size / 3;
	height: 2 * $icon-size /3;
	margin: 1em;

	//overrides .icon fill color for bell icon only
	.st0 {
		fill: #FFFFFF;
	}
}



