#message-user {
	@extend %widget-spacing;
}

#user-input {
	@extend %message-user;
	@extend %focus;
	height: 4em;
	border: 1px solid $gray;
	background-color: $gray-light;
	color: $gray;
	font-size: 0.5em;
	padding: 0 1em;
}

#user-message {
	@extend %message-user;
	@extend %focus;
	height: 12em;
	border: 1px solid $gray;
	background-color: $gray-light;
	color: $gray;
	font-size: 0.5em;
	padding: 1em;
}

#message-button {
	@extend %message-user;
	@extend %focus;
	height: 4em;
	background-color: $primary-color;
	color: $text-color-light;
	font-size: 0.5em;
	text-transform: uppercase;
	border: none;
}