#recent-activity {
	padding: 1em;

	img {
		@extend %round-photo;
		height: 2em;
		width: 2em;
		margin: auto 0.5em 0.25em 0;
	}
}

.activity-box {
	@include flexy(row);
	height: 2em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	border-bottom: 1px solid $gray-light;
}

.member-name-action {
	display: inline;
	margin: 0;
	color: $gray;
	font-size: 0.5em;
}


.member-action {
	display: inline;
	color: $gray;
	font-size: 0.5em;
	margin: 0;
}

.member-action-time {
	color: $gray;
	font-size: 0.5em;
	margin: 0;
}

.activity-button {
	height: 1em;
	width: 1em;
	background-color: #fff;
	outline: none;
	border: none;
	color: $primary-color;
	margin: auto 0.5em auto auto;
}